<% if !@drugs.blank? %>
  <div class='drug-list'>
    <% @drugs.each do |drug| %>
      <p class='each-drug'>
        <%= link_to "#{drug.generic_name}, " + "#{drug.brand_name}", drug_path(drug) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if @drugs.blank? %>
  <section class='search-alert'>
    <h4>There are no drugs containing the term '<%= params[:search] %>'.</h4>
    <h4>Please make sure your spelling is correct.</h4>
  </section>
<% end %>
