<% if !@doctors.blank? %>
  <div class='doc-list'>
    <% @doctors.each do |doctor| %>
      <p class='each-doc'>
        <%= link_to "#{doctor.first_name} " + "#{doctor.last_name}, " + "#{doctor.title}", doctor_path(doctor) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if @doctors.blank? %>
  <section class='search-alert'>
    <h4>There are no doctors containing the term '<%= params[:search] %>'.</h4>
    <h4>Please make sure your spelling is correct.</h4>
    <h4>Titles must be upcase.</h4>
  </section>
<% end %>
