// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Courier New", Courier, monospace;
  background-color: lightblue;
}

.site-name {
  display: inline;
  font-weight: bolder;
  font-size: 3em;
}

.site-login {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bolder;
  font-size: 1.2em;
}

.site-logout {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bolder;
  font-size: 1.2em;
}

.site-user {
  position: absolute;
  top: 10px;
  right: 120px;
  font-weight: bolder;
  font-size: 1.2em;
}

.search-bar {
  display: inline;
  position: absolute;
  padding-top: 25px;
  padding-left: 20px;
}

.doc-list {
  padding-top: 30px;
  width: 50%;
}

.each-doc {
  padding-left: 30px;
}

.search-alert {
  text-align: center;
  font-weight: bolder;
}
