// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.core-body {
  font-family: "Courier New", Courier, monospace;
  background-color: lightblue;
}

.site-name {
  display: inline;
  font-weight: bolder;
  font-size: 3em;
  text-decoration: none;
}

.site-user {
  position: absolute;
  top: 10px;
  right: 120px;
  font-weight: bolder;
  font-size: 1.2em;
}

.search-bar {
  display: inline;
  position: absolute;
  padding-top: 25px;
  padding-left: 20px;
}

.doc-list {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
}

.each-doc {
  padding-left: 30px;
}

.search-alert {
  text-align: center;
  font-weight: bolder;
}

.drop-button {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
    background-color: orange;
}
