// Place all the styles related to the drug controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.drug-body {
  font-family: "Courier New", Courier, monospace;
  background-color: lightblue;
}

.drug-site-name {
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  padding-top: 150px;
}

.drug-site-auth {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bolder;
  font-size: 1.2em;
}

.drug-site-user {
  position: absolute;
  top: 10px;
  left: 120px;
  font-weight: bolder;
  font-size: 1.2em;
}

.drug-to-drug {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bolder;
  font-size: 1.2em;
}

.drug-to-doc {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bolder;
  font-size: 1.2em;
}

.drug-search-bar {
  text-align: center;
  padding-top: 25px;
}
