// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.static-body {
  font-family: "Courier New", Courier, monospace;
  background-color: lightblue;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

input:hover {
  color: red;
}

.static-site-name {
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  padding-top: 150px;
}

.static-site-auth {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bolder;
  font-size: 1.2em;
}

.static-site-user {
  position: absolute;
  top: 10px;
  left: 120px;
  font-weight: bolder;
  font-size: 1.2em;
}

.static-search-bar {
  text-align: center;
  padding-top: 25px;
}

input#search {
  width: 300px;
}

input#button {
  position: absolute;
  top: 44%;
  left: 46%;
  width: 100px;
}
